@use "sass:math";
@import "_reset.scss";
@import "_common.scss";
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap');

/* --------------------- */
body {
    // font-family: 'Oswald', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 25px;
    line-height: 1.48;
    color: #000000;
}
.wrapper {
	overflow: hidden;
	min-height: 100%;
	position: relative;

	display: flex;
	flex-direction: column;
}
.wrapper > main {
	flex-grow: 1;
}
[class*="__container"] {
    padding-left: 15px;
	padding-right: 15px;
	max-width: 1908px; 
	margin: 0 auto;
}
/* --------------------- */
// Змінні
$blackColor2: #3F3F3F;
$grayColor4: #BDBDBD;
/* --------------------- */
.page {
    padding: 30px 0;
    // .page__crisp
    &__crisp {
    }
}
.crisp {
    // .crisp__container
    &__container {
    }
    // .crisp__brand
    &__brand {
    }
}
.brand-crisp {
    position: relative;
    margin-bottom: 30px;
    // .brand-crisp__title
    &__title {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        top: -18px;
        text-align: center;
        font-family: 'Oswald', sans-serif;
        font-weight: 400;
        font-size: 24px;
        line-height: 1.5;
        text-transform: uppercase;
        max-width: 370px;
        padding: 0 93px;
        background-color: #fff;
    }
    // .brand-crisp__list
    &__list {
        display: grid;
        grid-template-columns: repeat(7,1fr);
        gap: 35px;
        padding: 28px 12px 29px 11px;
        border: 2px solid #C4C4C4;
        text-align: center;
    }
    // .brand-crisp__item
    &__item {
        max-width: 235px;
        height: 141px;
        transition: background-color 0.3s;
        @media (any-hover: hover){
            &:hover{
                background-color: #F0F2F2;
            }
        }
    }
	// .brand-crisp__link
	&__link {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
	}
}
/*-------------------------------*/
@media (max-width: 1205px) {
    .brand-crisp__list {
        grid-template-columns: repeat(4, 1fr);
        row-gap: 15px;
    }
    .brand-crisp__item {
        height: 121px;
        width: 100%;
    }
}
@media (max-width: 767.98px) {
    .brand-crisp__list {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }
    .brand-crisp__item {
        height: 100px;
        margin: 0 auto;
    }
    .brand-crisp__title {
        padding: 0 50px;
        max-width: 290px;
    }
}
@media (max-width: 479.98px) {
    .brand-crisp__list {
        grid-template-columns: 1fr;
        gap: 15px;
    }
    .brand-crisp__title {
        padding: 0 10px;
        max-width: 220px;
    }
    .brand-crisp__item {
        height: 60px;
    }
}
/*-------------------------------*/
.crisp {
    // .crisp__gallery
    &__gallery {
    }
    &__gallery-mb {
        margin-bottom: 30px;
    }
}
.gallery-crisp {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    position: relative;
    // .gallery-crisp__card
    &__card {
        position: relative;
        display: flex;
        &:nth-child(2) {
            grid-row: span 2;
        }
    }
    &__card-right {
        justify-content: flex-end;
        align-items: center;
        padding-right: 5%;
    }
    &__card-big {
        justify-content: flex-start;
        align-items: end;
        padding-left: 10%;
        padding-bottom: 25%;
    }
    &__card-left {
        justify-content: flex-start;
        align-items: center;
        padding-left: 5%;
    }
    // .gallery-crisp__image
    &__image {
        padding-bottom: 46.969697%;
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    // .gallery-crisp__image-big
    &__image-big {
        padding-bottom: 97.081081%;
    }
    // .gallery-crisp__block
    &__block {
        z-index: 2;
        max-width: 369px;
    }
    &__block-right {
    }
    &__block-big {}
    &__block-left {}
    // .gallery-crisp__title
    &__title {
        font-family: 'Oswald', sans-serif;
        font-weight: 600;
        font-size: 48px;
        line-height: 1.29;
        text-transform: uppercase;
        margin-bottom: 7px;
    }
    // .gallery-crisp__sub-title
    &__sub-title {
        font-size: 22px;
        line-height: 1.68;
        letter-spacing: 0.01em;
        margin-bottom: 30px;
    }
    // .gallery-crisp__link
    &__link {
        font-weight: 500;
        font-size: 18px;
        line-height: 1.5;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        border: 2px solid #000000;
        width: 175px;
        height: 56px;
        transition: all 0.3s;
        @media (any-hover: hover){
            &:hover {
                color: #fff;
                background-color: #000000;
            }
        }
    }
}
/*-------------------------------*/
@media (any-hover: hover){
}
@media (max-width: 1370px) {
    .gallery-crisp__card-right {
        padding-right: 2.5%;
    }
    .gallery-crisp__card-big {
        padding-left: 3%;
        padding-bottom: 25%;
    }
    .gallery-crisp__card-left {
        padding-left: 2.5%;
    }
}
@media (max-width: 1199.98px) {
    .gallery-crisp__block-left {
        .gallery-crisp__title {
            max-width: 220px;
        }
    }
    .gallery-crisp__block-big {
        max-width: 230px;
    }
    .gallery-crisp {
        gap: 20px;
    }
}
@media (max-width: 1049.98px) {
    .gallery-crisp__title {
        font-size: 38px;
        line-height: 1.2;
        margin-bottom: 5px;
    }
    .gallery-crisp__sub-title {
        font-size: 18px;
        line-height: 1.28;
        margin-bottom: 15px;
    }
    .gallery-crisp__link {
        font-size: 16px;
        width: 145px;
        height: 50px;
    }
}
@media (max-width: 849.98px) {
    .gallery-crisp__title {
        font-size: 28px;
    }
    .gallery-crisp__sub-title {
        font-size: 14px;
        margin-bottom: 10px;
    }
    .gallery-crisp__link {
        font-size: 15px;
        width: 125px;
        height: 45px;
    }
    .gallery-crisp__block-left {
        .gallery-crisp__title {
            max-width: 150px;
        }
    }
    .gallery-crisp__block-big {
        .gallery-crisp__sub-title {
            max-width: 120px;
        }
    }
}
@media (max-width: 699.98px) {
    .gallery-crisp {
        grid-template-columns: 1fr;
    }
    .gallery-crisp__link {
        font-size: 12px;
        width: 105px;
        height: 35px;
    }
}
@media (max-width: 699.98px) {
    .gallery-crisp__title {
        font-size: 24px;
    }
    .gallery-crisp__sub-title {
        font-size: 12px;
        margin-bottom: 10px;
    }
    .gallery-crisp__link {
        font-size: 12px;
        width: 100px;
        height: 35px;
    }
}
/*-------------------------------*/
.crisp {
    // .crisp__main
    &__main {
    }
}
.main-crisp {
    display: flex;
    gap: 10px;
    // .main-crisp__sidebar
    &__sidebar {
        padding-top: 15px;
    }
    // .main-crisp__catalog
    &__catalog {
    }
}
.main-crisp--margin {
    margin-bottom: 25px;
}
.sidebar-crisp {
    // .sidebar-crisp__title
    flex: 0 1 21%;
    min-width: 150px;
    &__title {
        margin-bottom: 30px;
        font-family: 'Oswald', sans-serif;
        font-weight: 400;
        font-size: 24px;
        line-height: 1.5;
    }
    // .sidebar-crisp__nav
    &__nav {
        color: $blackColor2;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.5;
        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }
}
.nav {
    // .nav__form
    &__form {
        position: relative;
        transition: all 0.3s;
    }
    // .nav__input
    &__input {
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        opacity: 0;
        margin-right: 10px;
    }
    // .nav__label
    &__label {
        display: inline-flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        text-transform: uppercase;
        &::before {
            content: "";
            width: 12px;
            height: 12px;
            border: 1px solid #828282;
        }
    }
}
.nav__input:checked + .nav__label::before {
	background: #000000 url(../img/sidebar/chek.svg) center no-repeat;
}
.catalog-crisp {
    flex: 0 1 79%;
    border-left: 1px solid #C4C4C4;
    text-align: center;
    padding-bottom: 40px;
    // .catalog-crisp__column
    &__column {
        display: grid;
        grid-template: 1fr / repeat(4, 1fr);
        column-gap: 20px;
        row-gap: 40px;
        padding-left: 30px;
        margin-bottom: 60px;
    }
    // .item-card__item
    &__item {
    }
    // .catalog-crisp__link
    &__link {
        font-family: 'Oswald', sans-serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        color: #828282;
        padding: 15px 30px;
        border: 2px solid #C4C4C4;
        transition: all 0.3s;
    }
}
.item-card {
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: left;
    // text-align: left;
    &__discont {
        position: absolute;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.5;
        background-color: #000000;
        z-index: 1;
        color: #fff;
        text-align: center;
        width: 40px;
        height: 20px;
        top: 15px;
        left: 0;
    }
    // .item-card__image-link
    &__image-link {
        display: block;
        position: relative;
        overflow: hidden;
        padding-bottom: 130.813953%;
        margin-bottom: 14px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        border: 1px solid #000000;
        img {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            object-fit: cover;
            transition: transform 0.3s;
        }
    }
    // .item-card__wrapp
    &__wrapp {
    }
    // .item-card__category
    &__category {
        font-family: 'Oswald', sans-serif;
        font-weight: 600;
        font-size: 12px;
        line-height: 1.5;
        text-transform: uppercase;
        color: #BDBDBD;
        margin-bottom: 5px;
    }
    // .item-card__title
    &__title {
        font-family: 'Oswald', sans-serif;
        font-weight: 300;
        font-size: 18px;
        line-height: 1.5;
        color: #000000;
        margin-bottom: 18px;
    }
    // .item-card__price
    &__price {
        font-family: 'Oswald', sans-serif;
        font-weight: 500;
        font-size: 22px;
        line-height: 1.5;
        text-transform: uppercase;
        color: #000000;
    }
    // .item-card__value
    &__value {
        display: flex;
        align-items: flex-end;
        column-gap: 15px;
    }
    // .item-card__new-price
    &__new-price {
        font-family: 'Oswald', sans-serif;
        font-weight: 500;
        font-size: 22px;
        line-height: 1.2;
        text-transform: uppercase;
        color: #EB5757;
    }
    // .item-card__old-price
    &__old-price {
        font-family: 'Oswald', sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.5;
        text-transform: uppercase;
        text-decoration: line-through;
        color: #828282;
    }
}
/*-------------------------------*/
@media (any-hover: hover){
    .item-card__image-link:hover img {
        transform: scale(1.1);
    }
    .item-card__image-link:hover {
        border: 1px solid #C4C4C4;
    }
    .catalog-crisp__link:hover {
        border: 2px solid #828282;
        color: #3F3F3F;
        background: #F0F2F2;
    }
}
@media (max-width: 1025px) {
    .item-card__new-price {
        font-size: 16px;
    }
    .item-card__old-price {
        font-size: 12px;
    }
    .item-card__price {
        font-size: 16px;
    }
    .item-card__title {
        font-size: 14px;
        line-height: 1.2;
        margin-bottom: 10px;
    }
    .catalog-crisp__column {
        column-gap: 10px;
        row-gap: 20px;
        padding-left: 20px;
        margin-bottom: 40px;
    }
    .sidebar-crisp__title {
        margin-bottom: 20px;
        font-size: 20px;
    }
    .sidebar-crisp__nav:not(:last-child) {
        margin-bottom: 15px;
    }
    .sidebar-crisp__nav {
        font-size: 12px;
    }
    .catalog-crisp__link {
        font-size: 12px;
        padding: 10px 20px;
    }
}
@media (max-width: 850px) {
    .catalog-crisp__column {
        grid-template: 1fr / repeat(3, 1fr);
    }
}
@media (max-width: 767.98px) {
    .catalog-crisp__column {
        grid-template: 1fr / repeat(2, 1fr);
    }
}
@media (max-width: 650px) {
    .catalog-crisp__column {
        grid-template: 1fr / 1fr;
    }
    .item-card {
        margin-left: 20px;
        margin-right: 20px;
    }
    .catalog-crisp {
        border-left: none;
    }
    .catalog-crisp__column {
        padding-left: 0;
    }
    .item-card__title {
        font-size: 18px;
        line-height: 1.5;
    }
    .item-card__new-price {
        font-size: 18px;
    }
    .item-card__old-price {
        font-size: 14px;
    }
    .item-card__price {
        font-size: 18px;
    }
}
@media (max-width: 530px) {
    .main-crisp {
        flex-direction: column;
        gap: 10px;
    }
    .main-crisp {
        justify-content: center;
    }
    .sidebar-crisp {
        flex: 0 1 auto;
        margin: 0 auto;
    }
}
/*-------------------------------*/
.crisp {
    // .crisp__preview
    &__preview {
        background: url(../img/limits/limits.png) right / cover no-repeat;
    }
}
.preview-crisp {
    // .preview-crisp__body
    &__body {
        max-width: 910px;
        padding-left: 112px;
        padding-top: 77px;
        padding-bottom: 76px;
    }
    // .preview-crisp__title
    &__title {
        font-family: 'Oswald', sans-serif;
        font-weight: 500;
        font-size: 56px;
        line-height: 1.29;
        text-transform: uppercase;
        max-width: 639px;
        border-right: 2px solid #000000;
        position: relative;
        margin-bottom: 17px;
        padding-top: 19px;
        &::before {
            content: "";
            position: absolute;
            width: 92%;
            height: 1px;
            top: 0;
            right: 0;
            background-color: #000;
        }
    }
    // .preview-crisp__text
    &__text {
        font-size: 25px;
        line-height: 1.48;
        letter-spacing: 0.01em;
        max-width: 639px;
        margin-bottom: 24px;
    }
    // .preview-crisp__link
    &__link {
        font-family: 'Oswald', sans-serif;
        font-weight: 500;
        font-size: 18px;
        line-height: 1.5;
        display: inline-flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        border: 2px solid #000000;
        padding: 20px 50px;
        transition: all 0.3s;
    }
}
.preview-crisp--margin {
    margin-bottom: 65px;
}
/*-------------------------------*/
@media (any-hover: hover){
    .preview-crisp__link:hover {
        background: #000;
        color: #fff;
        border: 2px solid #fff;
    }
}
@media (max-width: 1340px) {
    .crisp__preview {
        background: url(../img/limits/limits.png) 85% / cover no-repeat;
    }
}
@media (max-width: 1235px) {
    .preview-crisp__body {
        padding: 77px 0 78px 4%;
    }
    .preview-crisp__title {
        font-size: 48px;
        max-width: 550px;
    }
    .preview-crisp__text {
        font-size: 20px;
        max-width: 550px;
        margin-bottom: 20px;
    }
}
@media (max-width: 1050px) {
    .preview-crisp__title {
        font-size: 40px;
        max-width: 420px;
    }
    .preview-crisp__text {
        font-size: 16px;
        max-width: 420px;
        margin-bottom: 15px;
    }
    .preview-crisp__link {
        font-size: 16px;
        padding: 15px 35px;
    }
}
@media (max-width: 879.98px) {
    .preview-crisp__title {
        font-size: 28px;
        max-width: 350px;
    }
    .preview-crisp__text {
        font-size: 14px;
        max-width: 350px;
        margin-bottom: 10px;
    }
    .preview-crisp__link {
        font-size: 14px;
        padding: 15px 35px;
    }
}
@media (max-width: 770px) {
    .crisp__preview {
        background: url(../img/limits/limits.png) 73% / cover no-repeat;
    }
    .preview-crisp__title {
        font-size: 24px;
        max-width: 300px;
    }
    .preview-crisp__text {
        font-size: 12px;
        max-width: 300px;
    }
    .preview-crisp__link {
        font-size: 14px;
        padding: 12px 30px;
    }
    .preview-crisp__body {
        padding: 50px 10px;
    }
}
@media (max-width: 540px) {
    .preview-crisp__body {
        padding: 10px;
    }
    .preview-crisp__title {
        font-size: 24px;
        max-width: none;
        padding-top: 8px;
        margin-bottom: 10px;
    }
    .preview-crisp__text {
        font-size: 12px;
        max-width: none;
    }
    .preview-crisp__link {
        font-size: 14px;
        padding: 12px 30px;
    }
}
/*-------------------------------*/
.crisp {
    // .crisp__product
    &__product {
    }
}
.product {
    display: flex;
    flex-direction: column;
    row-gap: 68px;
    // .product__content
    &__content {
    }
    // .product__top
    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 26px;
    }
    // .product__title
    &__title {
        font-family: 'Oswald', sans-serif;
        font-weight: 400;
        font-size: 24px;
        line-height: 2.83;
    }
    // .product__buttons
    &__buttons {
        display: flex;
        align-items: center;
        column-gap: 4px;
    }
    // .product__column
    &__column {
        display: grid;
        grid-template: 1fr / repeat(5, 1fr);
        gap: 26px;
    }
    // .product__item
    &__item {
    }
}
.product--margin {
    margin-bottom: 118px;
}
.button {
    // .button__left
    &__left {
        border: 2px solid #C4C4C4;
        cursor: pointer;
        width: 40px;
        height: 40px;
        background: url(../img/product/arrows/arrow-right.svg) center / 8px 14px no-repeat;
        transform: rotate(180deg);
        transition: all 0.3s;
    }
    // .button__right
    &__right {
        border: 2px solid #C4C4C4;
        cursor: pointer;
        width: 40px;
        height: 40px;
        background: url(../img/product/arrows/arrow-right.svg) center / 8px 14px no-repeat;
        transition: all 0.3s;
    }
}
/*-------------------------------*/
@media (any-hover: hover){
    .button__left:hover {
        border: 2px solid #828282;
        background: url(../img/product/arrows/right.svg) center / 8px 14px no-repeat;
    }
    .button__right:hover {
        border: 2px solid #828282;
        background: url(../img/product/arrows/right.svg) center / 8px 14px no-repeat;
    }
}
@media (max-width: 991.98px) {
    .product__column {
        grid-template: 1fr/repeat(4, 1fr);
        gap: 20px;
    }
}
@media (max-width: 767.98px) {
    .product__column {
        grid-template: 1fr/repeat(3, 1fr);
        gap: 15px;
    }
    .product {
        row-gap: 48px;
    }
}
@media (max-width: 639px) {
    .product__column {
        grid-template: 1fr/repeat(2, 1fr);
        row-gap: 5px;
        column-gap: 15px;
    }
    .product {
        row-gap: 38px;
    }
    .product--margin {
        margin-bottom: 58px;
    }
}
@media (max-width: 479.98px) {
    .product__column {
        grid-template: 1fr/1fr;
        row-gap: 5px;
        column-gap: 15px;
    }
    .product__item {
        margin-bottom: 25px;
    }
    .product {
        row-gap: 28px;
    }
    .product--margin {
        margin-bottom: 38px;
    }
}
/*-------------------------------*/
.crisp {
    // .crisp__offer
    &__offer {
    }
}
.offer {
    display: flex;
    align-items: flex-start;
    column-gap: 96px;
    // .offer__image
    &__image {
        position: relative;
        overflow: hidden;
        padding-bottom: 19.33%;
        flex: 0 1 55.38%;
        img {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            object-fit: cover;
        }
    }
    // .offer__body
    &__body {
        flex: 0 1 34.1858%;
    }
    // .offer__title
    &__title {
        position: relative;
        font-family: 'Oswald', sans-serif;
        font-weight: 500;
        font-size: 56px;
        line-height: 1.29;
        text-transform: uppercase;
        border-right: 2px solid #000000;
        padding: 23px 0 10px;
        margin-bottom: 34px;
        &::before {
            content: "";
            position: absolute;
            width: 91.854%;
            height: 2px;
            top: 0;
            right: 0;
            background-color: #000;
        }
    }
    // .offer__text
    &__text {
        font-size: 25px;
        line-height: 1.48;
        letter-spacing: 0.01em;
        margin-bottom: 40px;
    }
    // .offer__button
    &__button {
        font-family: 'Oswald', sans-serif;
        font-weight: 500;
        font-size: 18px;
        line-height: 1.5;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        border: 2px solid #000000;
        padding: 14px 45.84px;
    }
}
.offer--margin {
    margin-bottom: 80px;
}
/*-------------------------------*/
@media (any-hover: hover){}
@media (max-width: 1572px) {
    .offer__title {
        font-size: 38px;
        margin-bottom: 10px;
        padding: 16px 0 8px;
    }
    .offer__text {
        font-size: 20px;
        margin-bottom: 15px;
    }
}
@media (max-width: 1350px) {
    .offer__title {
        font-size: 34px;
        margin-bottom: 10px;
    }
    .offer__text {
        font-size: 20px;
        margin-bottom: 15px;
    }
    .offer__button {
        padding: 12px 40px;
    }
}
@media (max-width: 1250px) {
    .offer__title {
        font-size: 28px;
        margin-bottom: 8px;
    }
    .offer__text {
        font-size: 18px;
        margin-bottom: 10px;
    }
    .offer__button {
        padding: 10px 35px;
    }
}
@media (max-width: 1120px) {
    .offer__image {
        padding-bottom: 34.33%;
    }
    .offer__title {
        font-size: 28px;
        margin-bottom: 8px;
    }
    .offer__text {
        font-size: 18px;
        margin-bottom: 15px;
    }
    .offer__button {
        padding: 10px 35px;
    }
}
@media (max-width: 991.98px) {
    .offer {
        column-gap: 56px;
    }
}
@media (max-width: 830px) {
    .offer__title {
        font-size: 22px;
        margin-bottom: 8px;
    }
    .offer__text {
        font-size: 16px;
        margin-bottom: 10px;
    }
    .offer__button {
        padding: 10px 35px;
    }
}
@media (max-width: 720px) {
    .offer__image {
        display: none;
    }
    .offer__title {
        font-size: 32px;
        margin-bottom: 10px;
    }
    .offer__text {
        font-size: 18px;
        margin-bottom: 15px;
    }
    .offer__body {
        flex: 0 1 100%;
        padding: 0 10px;
        justify-content: center;
    }
    .offer--margin {
        margin-bottom: 40px;
    }
}
@media (max-width: 420px) {
    .offer__title {
        font-size: 24px;
        margin-bottom: 10px;
    }
    .offer__text {
        font-size: 14px;
        margin-bottom: 15px;
    }
}
/*-------------------------------*/
.page {
    // .page__blog
    &__blog {
        background: #F8F9FB;
        padding: 40px 0;
    }
}
.blog {
    // .blog__container
    &__container {
    }
    // .blog__title
    &__title {
        font-family: 'Oswald', sans-serif;
        font-weight: 400;
        font-size: 24px;
        line-height: 2.83;
        margin-bottom: 34px;
    }
    // .blog__column
    &__column {
        display: grid;
        grid-template: 1fr/repeat(4, 1fr);
        gap: 10px;
        padding: 0 20px;
    }
    // .blog__item
    &__item {
        background-color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 24px 23px 0 24px;
        min-height: 420px;
        transition: all 0.3s;
    }
}
.item {
    // .item__content
    &__content {
    }
    // .item__sub-title
    &__sub-title {
        font-family: 'Oswald', sans-serif;
        font-weight: 600;
        font-size: 18px;
        line-height: 1.5;
        text-transform: uppercase;
        color: #BDBDBD;
        margin-bottom: 21px;
    }
    // .item__title
    &__title {
        font-family: 'Oswald',sans-serif;
        font-weight: 400;
        font-size: 26px;
        line-height: 1.5;
        margin-bottom: 32px;
    }
    // .item__text
    &__text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.01em;
        margin-bottom: 10px;
    }
    // .item__footer
    &__footer {
        font-family: 'Oswald', sans-serif;
        font-weight: 300;
        font-size: 13px;
        line-height: 2.85;
        color: #4F4F4F;
        border-top: 3px solid #000000;
    }
}
/*-------------------------------*/
@media (any-hover: hover){
    .blog__item:hover {
        background-color: #E6F1FA;
    }
}
@media (max-width: 1270px) {
    .item__title {
        font-size: 20px;
        margin-bottom: 20px;
    }
    .item__sub-title {
        font-size: 15px;
        margin-bottom: 15px;
    }
}
@media (max-width: 991.98px) {
    .blog__column {
        grid-template: 1fr/repeat(2, 1fr);
        gap: 20px;
    }
    .item__title {
        font-size: 26px;
        margin-bottom: 32px;
    }
    .item__sub-title {
        font-size: 18px;
        margin-bottom: 21px;
    }
}
@media (max-width: 767.98px) {
    .blog__column {
        gap: 10px;
    }
}
@media (max-width: 650px) {
    .item__title {
        font-size: 20px;
        margin-bottom: 20px;
    }
    .item__sub-title {
        font-size: 15px;
        margin-bottom: 15px;
    }
}
@media (max-width: 540px) {
    .blog__column {
        grid-template: 1fr/1fr;
        gap: 20px;
    }
    .item__title {
        font-size: 26px;
        margin-bottom: 32px;
    }
    .item__sub-title {
        font-size: 18px;
        margin-bottom: 21px;
    }
}
@media (max-width: 424.98px) {
    .page__blog {
        padding: 20px 0;
    }
    .blog__title {
        line-height: 1.5;
        margin-bottom: 34px;
    }
}
@media (max-width: 330px) {
    .item__sub-title {
        font-size: 16px;
        margin-bottom: 15px;
    }
    .item__title {
        font-size: 22px;
        margin-bottom: 20px;
    }
    .item__text {
        font-size: 14px;
    }
}
/*-------------------------------*/